<ion-header class="header">
  <ion-toolbar>
    <ion-title class="title-naam">Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<section class="header-section">
  <ion-button class="btn-neem" expand="block" href="#">Neem Meting</ion-button>
</section>


  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button class="btn-neem1" href="#">Overzicht vorige week</ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button class="btn-neem2" href="#">Overzicht metingen</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>


<section class="btn-sectie1">
  <ion-button class="btn-advies" expand="block" href="#">Advies</ion-button>
</section>

<section class="btn-sectie2">
  <ion-button class="btn-optie" href="#">Opties</ion-button>
  <ion-button class="btn-help" href="#">Help</ion-button>
</section>


<ion-fab>
  <button ion-fab color="light"><ion-icon name="arrow-dropleft"></ion-icon></button>
  <ion-fab-list side="left">
    <button ion-fab><ion-icon name="logo-facebook"></ion-icon></button>
    <button ion-fab><ion-icon name="logo-twitter"></ion-icon></button>
    <button ion-fab><ion-icon name="logo-vimeo"></ion-icon></button>
    <button ion-fab><ion-icon name="logo-googleplus"></ion-icon></button>
  </ion-fab-list>
</ion-fab>
</ion-content>
