
.content-text, .card-title{
    text-align: center;

}

.content-text{
    font-size: 140px;
    color:black;
}

.btn-meeting {
    color: black;
    font-weight: 700;

}

.meeting-card{
    background-color: #999999;
}

.btn-sectie {
    padding-bottom: 90px;
    padding-left: 20px;
    padding-right: 20px;
}

.header-section{
     text-align: center;
     background-color: #ffdc49;
     font-weight: 700;
}